body, html {
    height: 100%;
    margin: 0;
    background-color: black;
    overflow-x: hidden;

}
.container {
    position: absolute;
    height:100vw;
    width:100vw;
    background-color: black;
}
img {
  max-width: 100%;
    max-height: 100%;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes astrobob {
  0%   {bottom: 33%; right: 22%;}
  25%  {bottom: 30%;right: 22%;}
  50%  {bottom: 33%; right: 22%;}
  75%  {bottom: 30%; right: 22%;}
  100% {bottom: 33%; right: 22%;}
}

/* Standard syntax */
@keyframes astrobob {
    0%   {bottom: 33%; right: 22%;}
    25%  {bottom: 32%;right: 22%;}
    50%  {bottom: 33%; right: 22%;}
    75%  {bottom: 32%; right: 22%;}
    100% {bottom: 33%; right: 22%;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes galcat {
  0%   {  bottom: 0%; left: -5%;}
  50% {  bottom: 0%;left: -2%;}
  100% {  bottom: 0%;left: -5%;}
}

/* Standard syntax */
@keyframes galcat {
    0%   {  bottom: 0%; left: -4%;}
    50% {  bottom: 0%;left: -2%;}
    100% {  bottom: 0%;left: -4%;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes galaxy {
  0%   {  bottom: 53%; left: 19%;}
  50% {  bottom: 57%; left: 22%;}
  100% {  bottom: 53%; left: 19%;}
}

/* Standard syntax */
@keyframes galaxy {
    0%   {  bottom: 53%; left: 19%;}
    50% {  bottom: 57%; left: 22%;}
    100% {  bottom: 53%; left: 19%;}
}

a {
color: #FFFFFF;
}

  #astro3d{
    position: absolute;
    height: 20%;
    width: auto;
    bottom: 33%;
    right: 22%;
  }
  .astro2d{
    position: absolute;
    height: 20%;
    width: auto;
    bottom: 33%;
    right: 22%;
    z-index: 1;
    -webkit-animation-name: astrobob; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: astrobob;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }
    .galcat {
      position: absolute;
      height: 80%;
      width: auto;
      bottom: 0%;
      left: -4%;
      z-index: 2;
      -webkit-animation-name: galcat; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 12s; /* Safari 4.0 - 8.0 */
      -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
      animation-name: galcat;
      animation-duration: 12s;
      animation-iteration-count: infinite;
    }
  .galaxy {
    position: absolute;
    height: 20%;
    width: auto;
    bottom: 55%;
    left: 22%;
    z-index: 1;
    -webkit-animation-name: galaxy; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 12s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: galaxy;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
.sig {
  position: absolute;
  height: auto;
  width: calc(55% - 33vw);
  bottom: 0%;
  left: 44%;
  z-index: 55;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.2vw;
  text-align: center;
  color: white;
}
.models{
  max-width: 100%;
    max-height: 100%;
}
.bg{
  position:absolute;
width: 100vw;
height: 100vw;
  left:0;
  right:0;
  z-index: 0;
  background-color: black;
}
